.navbar-brand
{
    height: 100px;
    width: 100px;
    

}
.navbar-brand img{
    height: 70px;
    width: 200px;
    margin-left: 20px;
}
.navbar-expand-lg .navbar-nav {

    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 500px;
    color: black;
}
.navbar-nav .nav-item .nav-link {
    color: black;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    font-weight: bold;
    font-size: 18px;
    /* border: 2px solid white; */

}

.navbar-nav .nav-item
{
    
    margin-left: 20px;
    
}
.hero-section
{
    margin-left: 50px;
    margin-top: 50px;

}
.about-me{
    
    margin-left: 192px;
    margin-top: 60px;

}

.hide-me[aria-expanded="true"] {display: none;}
/* 
.award-list ul li {
    
    position: relative;
	width: 55%;
	margin: 50px auto 0;
	margin-left: 110px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
	grid-template-rows: auto 1fr auto;
	grid-gap: 5px;
} */
.award-list{

    margin-left: -77px;
    
    padding-right: 37px;

}
.award-list img
{
    width: 150px;
    height: 100px;
    padding:10px;

}